
body {
   background-image: url("./img/background.jpg"); 
   color: yellow;
   min-width: auto;
}

#content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
img {
    display: block;
    width: 300px;
    height: auto;
    border-radius: 25%;
    box-shadow: 0px 0px 20px rgba(57, 184, 235, 0.74);
}
#container {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
}
#tabs {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header, .header-business {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;;
    font-size: 45px;
    text-align: center;
    text-decoration: underline;
    /* background-color: rgba(253, 249, 6, 0.233); */
   
}
.header-name{
    margin-bottom: 5px;
    margin-top: 20px;
}
.lucas{
    margin-top: 45px;
}
.header-main{
    font-size: 60px;
    text-decoration: underline overline;
}
.description{
    font-size: 20px;
    font-style: italic;
    text-decoration: underline;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 450;
    font-style: italic;
    text-align: center;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.493);
}
.item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.unclicked {
    opacity: 0.6;
    
}
#menu, #home, #contact {
    cursor: grab;
}
#show-home {
    justify-items: center;
}
.hours-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid yellow;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.header-business{
    margin-bottom: 10px;
    margin-top: 10px;
}
.item-price {
    margin-bottom: 40px;
}
.item-description {
    margin-bottom: 0px;
}